In [2]:
#import Library
import pandas as pd
from sklearn import tree

In [3]:
df = pd.read_csv('male female.csv')

In [4]:
df

   Height  Weight  Shoe Size  Gender
0     181      80         44    Male
1     177      70         43  Female
2     160      60         38  Female
3     154      54         37  Female
4     166      65         40    Male
5     190      90         47    Male
6     175      64         39    Male
7     171      75         42  Female
8     185      85         43  Female
9     169      71         42    Male

In [11]:
x = df.iloc[:, :-1]

In [12]:
x

   Height  Weight  Shoe Size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [22]:
y = df.iloc[:, 3]

In [23]:
y

0      Male
1    Female
2    Female
3    Female
4      Male
5      Male
6      Male
7    Female
8    Female
9      Male
Name: Gender, dtype: object

In [29]:
classifer = tree.DecisionTreeClassifier()

In [30]:
classifer.fit(x, y)

DecisionTreeClassifier()

In [42]:
prediction = classifer.predict([[180,70,45]])

In [43]:
prediction

array(['Male'], dtype=object)