In [1]:
#import Library
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('allemails.csv')

In [3]:
df

                                                   Text Spam
0     Subject: 4 color printing special  request add...    1
1     Subject: las vegas high rise boom  las vegas i...    1
2     Subject: here ' s a hot play in motion  homela...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5731  Subject: re : research and development charges...    0
5732  Subject: re : receipts from visit  jim ,  than...    0
5733  Subject: re : enron case study update  wow ! a...    0
5734  Subject: re : interest  david ,  please , call...    0
5735  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5736 rows x 2 columns]

In [4]:
df['Spam'].value_counts()

0                                                                                               4359
1                                                                                               1367
 its termination would not  have such a phenomenal impact on the power situation .  however        1
 mr suresh prabhu                                                                                  1
Name: Spam, dtype: int64

In [5]:
df.drop_duplicates(inplace = True)

In [7]:
df['Spam'].value_counts()

0                                                                                               4326
1                                                                                               1364
 its termination would not  have such a phenomenal impact on the power situation .  however        1
 mr suresh prabhu                                                                                  1
Name: Spam, dtype: int64

In [8]:
df

                                                   Text Spam
0     Subject: 4 color printing special  request add...    1
1     Subject: las vegas high rise boom  las vegas i...    1
2     Subject: here ' s a hot play in motion  homela...    1
4     Subject: do not have money , get software cds ...    1
5     Subject: great nnews  hello , welcome to medzo...    1
...                                                 ...  ...
5731  Subject: re : research and development charges...    0
5732  Subject: re : receipts from visit  jim ,  than...    0
5733  Subject: re : enron case study update  wow ! a...    0
5734  Subject: re : interest  david ,  please , call...    0
5735  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5695 rows x 2 columns]

In [9]:
df.isnull().sum()

Text    1
Spam    3
dtype: int64

In [10]:
df.dropna(subset = ['Text'], inplace = True)

In [11]:
df.isnull().sum()

Text    0
Spam    2
dtype: int64

In [12]:
df.dropna(subset = ['Spam'], inplace = True)

In [13]:
df.isnull().sum()

Text    0
Spam    0
dtype: int64

# Separate X and Y

In [14]:
x = df.Text.values

In [15]:
y = df.Spam.values

# Split Dataset

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.2)

# Data Preprocessing

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
cv = CountVectorizer()
x_train = cv.fit_transform(xtrain)

In [20]:
x_train.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# ML Algorithm

In [21]:
from sklearn.naive_bayes import MultinomialNB

In [22]:
model = MultinomialNB()
model.fit(x_train, ytrain)

MultinomialNB()

In [23]:
x_test = cv.transform(xtest)

In [24]:
x_test.toarray()

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [25]:
model.score(x_test, ytest)

0.9841966637401229

In [29]:
emails = ['Hey I am looking for machine language tutorial in Bangli language','hey you win an iphone x giveaway for free please do the survey','I am not Little boy', 'You win 100000 Taka a Lottery']

In [30]:
cv_emails = cv.transform(emails)

In [31]:
model.predict(cv_emails)

array(['0', '1', '1', '1'], dtype='<U18')